In [1]:
# Ques_14.ipynb - Data Quality Automation Tools

# ğŸ“Œ Step 1: Import necessary libraries
import pandas as pd
import numpy as np

# Optional: install great_expectations (if allowed in your environment)
# !pip install great_expectations

# ğŸ“Œ Step 2: Sample DataFrame (replace with your own data)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice'],
    'Age': [25, np.nan, 35, 40, -5, 25],
    'Salary': [50000, 60000, None, 70000, 55000, 50000],
    'Department': ['HR', 'Finance', 'IT', 'IT', 'Unknown', 'HR']
}
df = pd.DataFrame(data)

print("âœ… Sample Data:")
display(df)

# ğŸ“Œ Step 3: Detect Missing Values
print("\nğŸ” Missing Values:")
print(df.isnull().sum())

# ğŸ“Œ Step 4: Detect Duplicates
print("\nğŸ” Duplicate Rows:")
print(df[df.duplicated()])

# ğŸ“Œ Step 5: Detect Outliers in Numerical Columns (using IQR)
def detect_outliers_iqr(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    return column[(column < lower) | (column > upper)]

print("\nğŸ“Š Outliers in Age:")
print(detect_outliers_iqr(df['Age'].dropna()))

print("\nğŸ“Š Outliers in Salary:")
print(detect_outliers_iqr(df['Salary'].dropna()))

# ğŸ“Œ Step 6: Schema Validation
expected_columns = {
    'Name': str,
    'Age': (int, float),
    'Salary': (int, float),
    'Department': str
}

print("\nğŸ§¾ Schema Validation:")
for col, dtype in expected_columns.items():
    if col not in df.columns:
        print(f"âŒ Missing column: {col}")
    else:
        actual_dtype = df[col].dropna().map(type).unique()
        if not any(issubclass(t, dtype if isinstance(dtype, tuple) else (dtype,)) for t in actual_dtype):
            print(f"âš ï¸ Column '{col}' has incorrect data type(s): {actual_dtype}")
        else:
            print(f"âœ… Column '{col}' matches expected type.")

# ğŸ“Œ Step 7: Categorical Consistency Check
expected_departments = ['HR', 'Finance', 'IT', 'Marketing']
invalid_departments = df[~df['Department'].isin(expected_departments)]

print("\nğŸš¨ Invalid Department Entries:")
print(invalid_departments[['Name', 'Department']])

# ğŸ“Œ Final Summary
print("\nğŸ¯ Data Quality Checks Completed.")

âœ… Sample Data:

      Name   Age   Salary Department
0    Alice  25.0  50000.0         HR
1      Bob   NaN  60000.0    Finance
2  Charlie  35.0      NaN         IT
3    David  40.0  70000.0         IT
4      Eve  -5.0  55000.0    Unknown
5    Alice  25.0  50000.0         HR

ğŸ” Missing Values:
Name          0
Age           1
Salary        1
Department    0
dtype: int64

ğŸ” Duplicate Rows:
    Name   Age   Salary Department
5  Alice  25.0  50000.0         HR

ğŸ“Š Outliers in Age:
4   -5.0
Name: Age, dtype: float64

ğŸ“Š Outliers in Salary:
Series([], Name: Salary, dtype: float64)

ğŸ§¾ Schema Validation:
âœ… Column 'Name' matches expected type.
âœ… Column 'Age' matches expected type.
âœ… Column 'Salary' matches expected type.
âœ… Column 'Department' matches expected type.

ğŸš¨ Invalid Department Entries:
  Name Department
4  Eve    Unknown

ğŸ¯ Data Quality Checks Completed.